/* CUSTOM PROPS */
:root {
  --font: 'Gilroy', 'Roboto', 'Arial', sans-serif;
}


/* FONT-FACE */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
      url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
      url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 16px;
  background-color: #fff;
  color: #222;
}

.container {
  max-width: 100%;
  width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}


.main-content {
  padding: 50px;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

label:not(:last-child) {
  margin-bottom: 15px;
}

.input {
  font-size: 20px;
  padding: 5px;
}

.one {}

.two {}

.three {}

.four {}

.five {}

.six {}

.seven {}

.eight {}

.nine {}

.ten {}

.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/pubg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px;
  flex-grow: 1;
  border: 1px solid #000;
  padding-bottom: 500px;
}

.logo {
  position: absolute;
  left: 48px;
  top: -20px;
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.result {
  font-weight: bold;
  font-size: 30px;
  color: gold;
  margin-bottom: 200px;
}

.price {
  display: none;
}

.price--block {
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: gold;
  margin-bottom: 200px;
}

.button {
  position: absolute;
  top: calc(50% + 100px);
  left: 321px;
  border: 0;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding: 16px 50px 16px;
  background-color: rgb(255, 255, 255, 0.8);
  cursor: pointer;
  color: #000;
  transition: background-color 1s ease,
    color 1s ease,
    border-color 1s ease,
    box-shadow 1s ease;
}

.button:hover {
  background-color: #2dba28;
  color: #fff;
  border-color: lightblue;
  box-shadow: 10px 10px 5px rgba(45, 186, 40, 0.5);
}

.button:active {
  transform: translateY(5px);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.link {
  padding-top: 15px;
  flex-grow: 1;
  background-color: #2dba28;
  color: #fff;
}

.link__text {
  font-size: 18px;
  /* font-weight: bold; */
  text-align: center;
  margin: 0;
}

.reg-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.link-registration {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 12px 24px;
  background-color: #777;
}